a {
    padding: 10px; 
    background-color: violet;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    width: 100px;
    display: inline-block;
    text-align: center;
}

#canvas {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}