#input-uname {
    width: 80%;
}

#input-pwd {
    width: 80%;
}

.fo {
    display: relative;
    margin-top: 40%;
    margin-left: 10%;
    font-size: 40px;
    font-weight: bold;
}

body {
    background-color: #f0f0f0;
}
