body {
    background-image: url("/Users/lesliegarcia/Desktop/CS201/FP/CSCI-201-Final-Project/frontend/thumbnail.png");
    background-size: "cover";
  }

.meetingID {
    padding-top: 250px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.createM {
    padding-top: 30px;
}