body {
    font-family: 'Lexend', sans-serif;
  }
  
#fname, #lname, #email, #username, #password {
    width: 140%;
}

#topSign {
    font-size: 50px;
}

.sup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: baseline;
    min-height: 100vh;
}